doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Ejercicio 5
		link(rel="stylesheet", href="style.css")
	body
		footer
			h1.h1Noticias Todas las noticias
		main
			each noticia in noticias
				div.divNoticias
					img(src=noticia.url_imagen, alt=noticia.titulo, class='imgNoticia')
					h2.h2Noticia=noticia.titulo
					p.fechaNoticia=noticia.fecha
					p.descripcion=noticia.descripcion
					form.formulario(action='/noticias/borrar', method='POST')
						input(type='hidden', name='index', value=noticias.indexOf(noticia))
						button.btnNoticia(type='submit') Borrar
			div.divAgregarBtn
				a(href='/noticias/noticiasInsertar' class='agregarNoticia') Agregar Noticia